{{- $isMultiCluster := include "kafka.isMultiCluster" . -}}
{{- if eq $isMultiCluster "true" -}}
{{/* Multi-cluster mode: create a secret for each cluster without existingSecret */}}
{{- range $index, $cluster := .Values.kafka.clusters }}
{{- $hasExistingSecret := false }}
{{- if $cluster.auth }}
{{- if $cluster.auth.existingSecret }}
{{- $hasExistingSecret = true }}
{{- end }}
{{- end }}
{{- if not $hasExistingSecret }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kafka.cluster.secret.name" (dict "cluster" $cluster "index" $index) }}
  namespace: {{ $.Release.Namespace }}
  labels:
  {{- range $key, $value := $.Values.extraLabels }}
    {{ $key }}: {{ $value }}
  {{- end }}
type: Opaque
data:
  seedBrokers: {{ default "" $cluster.seedBrokers | b64enc | quote }}
  saslMechanism: {{ default "" (default dict $cluster.auth).saslMechanism | b64enc | quote }}
  saslUser: {{ default "" (default dict $cluster.auth).saslUser | b64enc | quote }}
  saslPassword: {{ default "" (default dict $cluster.auth).saslPassword | b64enc | quote }}
  certChainFile: {{ default "" (default dict $cluster.auth).certChainFile | b64enc | quote }}
  certKeyFile: {{ default "" (default dict $cluster.auth).certKeyFile | b64enc | quote }}
  caFile: {{ default "" (default dict $cluster.auth).caFile | b64enc | quote }}
  useTLS: {{ default "" (default dict $cluster.auth).useTLS | b64enc | quote }}
{{- end }}
{{- end }}
{{- else -}}
{{/* Legacy single-cluster mode */}}
{{- if not .Values.kafka.auth.existingSecret -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kafka.auth.secret.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
  {{- range $key, $value := .Values.extraLabels }}
    {{ $key }}: {{ $value }}
  {{- end }}
type: Opaque
data:
  saslMechanism: {{ .Values.kafka.auth.saslMechanism | b64enc | quote }}
  saslUser: {{ .Values.kafka.auth.saslUser | b64enc | quote }}
  saslPassword: {{ .Values.kafka.auth.saslPassword | b64enc | quote }}
  certChainFile: {{ .Values.kafka.auth.certChainFile | b64enc | quote }}
  certKeyFile: {{ .Values.kafka.auth.certKeyFile | b64enc | quote }}
  caFile: {{ .Values.kafka.auth.caFile | b64enc | quote }}
  useTLS: {{ .Values.kafka.auth.useTLS | b64enc | quote }}
{{- end }}
{{- end }}
